<h1>All Hauntings</h1>
<% @hauntings.each do |haunting| %>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-trip">
          <% if haunting.ghost.photos.attached? %>
            <%= cl_image_tag(haunting.ghost.photos.first.key) %>
          <% else %>
            <%= cl_image_tag("https://res.cloudinary.com/dbe4hul9k/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1622714025/ghostbusters-logo_cqzclk.jpg") %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2>You're new haunting details: </h2>
              <p>Ghost: <%= haunting.ghost.name %></p>
              <p>Owner: <%= haunting.ghost.user.email %></p>
              <p>Start: <%= haunting.start_date %></p>
            </div>
            <div class="text-center mg-16px"> <%= link_to 'View this haunting', haunting_path(haunting), class: 'btn btn-nice'%> </div>
          </div>
      </div>
    </div>
  </div>
<% end %>
