<h1>Hauntings</h1>
<p>You have a new haunting</p>
<p><%= @haunting.ghost.name %></p>
<p><%= @haunting.ghost.user.email %></p>
<p><%= @haunting.user.email %></p>
<br>
<p>Start Date: <%= @haunting.start_date %></p>
<p>End Date: <%= @haunting.end_date %></p>
<p>Location: <%= @haunting.location %></p>
