<div class="container">
  <div class="text-center"><h1> The Ghost you chose is: <%= @ghost.name %> </h1></div>
   <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
  <div class="card">
    <div class="card-trip">


      <% if @ghost.photos.attached? %>
        <%= cl_image_tag(@ghost.photos) %>
      <% else %>
        <%= cl_image_tag("https://res.cloudinary.com/dbe4hul9k/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1622714025/ghostbusters-logo_cqzclk.jpg") %>
      <% end %>


        <div class="card-trip-infos">
          <div>
            <h2><%= @ghost.name %></h2>
            <p>Era: <%= @ghost.era %></p>
            <p> Category: <%= @ghost.category %></p>
            <p> Description: <%= @ghost.description %></p>
            <p> Price: €<%= @ghost.price %></p>
            <br>
            <h2> Book <%= @ghost.name %> for a Haunting: </h2>
            <%= simple_form_for [@ghost, @haunting] do |g| %>
              <%= g.input :start_date %>
              <%= g.input :end_date %>
              <%= g.input :location %>
              <%= g.submit class: 'btn btn-success' %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <br>
 <%= link_to 'Go back', ghosts_path, class: 'btn btn-primary' %>
  <% if 1 +1 == 2 %>
     <%= link_to 'delete', ghost_path(@ghost),method: :delete, class: 'btn btn-primary'%>
   <% end %>
</div>
</div>
  </div>
